<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Warn" internalLogFile="nlog-internal.log">

    <!-- enable asp.net core layout renderers -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
    </extensions>

    <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
    <variable name="myvar" value="myvalue" />

    <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
    <targets>
        <target name="console"
                xsi:type="ColoredConsole"
                encoding="utf-8"
                layout="${threadid}|${time}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}">
            <highlight-row condition="level==LogLevel.Info" foregroundColor="Green" />
        </target>
        <target name="file"
                xsi:type="File"
                fileName="${shortdate}.log"
                layout="[${threadid}] [${longdate}] [${uppercase:${level}}] [${logger}] ${message} ${exception:format=tostring}"
                concurrentWrites="false" keepFileOpen="false" />
        <target name="jsonFile" 
                xsi:type="File" 
                fileName="${shortdate}.log.json">
            <layout xsi:type="JsonLayout" includeAllProperties="true">
                <attribute name="time" layout="${longdate}" />
                <attribute name="thread" layout="${threadid}" />
                <attribute name="level" layout="${level:upperCase=true}" />
                <attribute name="loger" layout="${logger}" />
                <attribute name="message" layout="${message}" />
                <attribute name="exception" layout="${exception}" />
            </layout>
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="jsonFile" />
        <logger name="Microsoft.EntityFrameworkCore.*" minlevel="Warn" writeTo="console" final="true" />
        <logger name="Microsoft.EntityFrameworkCore.*" maxlevel="Info"  final="true" />
        <logger name="*" minlevel="Debug" writeTo="console" />
    </rules>
</nlog>